.inner-hero {
  background-image: url(../img/inner-hero/bg.jpg);
  height: 209px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include mobile{
    height: 146px;
  }
  &-row {
    position: relative;
    height: 209px;
    @include mobile{
      height: 146px;
    }
  }
  &-title {
    position: absolute;
    left: 0;
    bottom: 36px;
    font: var(--txt-400-36-140-sf);
    color: var(--white);
    white-space: nowrap;
    @include tablet-small{
      left: 50%;
      transform: translateX(-50%);
    }
    @include mobile{
      bottom: 32px;
    }
  }
}
