.products-content {
  &-item {
    max-width: 250px;
    &__img {
      height: 375px;
      margin-bottom: 20px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__name {
      font: var(--txt-400-20-140-sf);
      color: var(--dark-primary);
      margin-bottom: 20px;
      &:focus {
        outline: none;
      }
      &:focus-visible {
        outline: var(--outline);
        outline-offset: var(--outline-offset);
      }
    }
    &__price {
      font: var(--txt-400-18-150-ff);
      color: var(--dark-primary);
    }
  }
}
