.user {
  display: none;
  border: 1px solid var(--dark-primary);
  max-width: 697px;
  width: 100%;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  padding: 40px 50px;
  @include tablet {
    padding: 20px 30px;
    max-width: 600px;
  }
  @include tablet-small {
    padding: 20px 30px;
    max-width: 500px;
  }
  @include mobile {
    max-width: 400px;
  }
  @include mobile-small {
    max-width: 280px;
    padding: 15px;
  }
  &-close {
    width: 40px;
    height: 40px;
    font-size: 32px;
    border: 1px solid var(--dark-primary);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 102;
    background-color: var(--white);
    @include mobile {
      width: 30px;
      height: 30px;
      top: -5px;
      right: -5px;
    }
  }
  &-top {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
    @include mobile-small {
      flex-direction: column;
    }
  }
  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    &__input {
      max-width: 375px;
      width: 100%;
      border: none;
      padding-bottom: 5px;
      border-bottom: 1px solid var(--dark-primary);
    }
    &__btn {
      margin-bottom: 15px;
    }
  }
  &-footer {
    text-align: center;
    &__link {
      font: var(--txt-400-18-150-ff);
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--c-color-1);
      transition: var(--transition);
      &:hover {
        color: var(--dark-primary);
      }
      @include mobile-small {
        font: var(--txt-400-14-150-ff);
      }
    }
  }
}

// btns
.active-black {
  background-color: var(--dark-primary);
  color: var(--white);
  &:hover {
    background-color: var(--white);
    color: var(--dark-primary);
  }
}
.active-white {
  color: var(--dark-primary);
  background-color: var(--white);
  &:hover {
    background-color: var(--dark-primary);
    color: var(--white);
  }
}
.login-btn {
  border: 1px solid var(--dark-primary);
  padding: 25px;
  max-width: 300px;
  width: 100%;
  text-transform: uppercase;
  font: var(--txt-400-36-140-sf);
  transition: var(--transition);
  cursor: pointer;
  @include tablet-small {
    font: var(--txt-400-20-140-sf);
    padding: 15px;
  }
}
